.roomContainer {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 2rem;
  /* background-color: red; */
  background-color: rgb(249, 249, 249);
  height: 91vh;
}

.roomList {
  overflow: auto;
}

.createRoom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.createRoom > button {
  border-radius: 1rem;
  /* background-color: #4495f7; */
  border: none;
  /* border: 0.2rem solid black; */
}

.eachRoom {
  padding: 1rem;
  cursor: pointer;
}
.eachRoom > div:first-child {
  font-size: 2rem;
}
.eachRoom > div:nth-child(2) {
  font-size: 0.8rem;
  color: gray;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 4px; /* 버튼 모서리를 둥글게 만듭니다. */
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination span {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px; /* 스팬 모서리를 둥글게 만듭니다. */
  transition: background-color 0.2s ease;
}

.pagination span:hover {
  background-color: #0056b3;
}

.pagination span.active {
  background-color: #0056b3;
  border: 1px solid #0056b3;
  font-weight: bold; /* 활성 페이지 번호를 더 강조합니다. */
}
